@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');

body {
    min-height:100%;
    font-family: sans-serif;
    box-sizing: border-box;
    color:rgb(238, 223, 202);
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;

    ::-webkit-scrollbar {
        display: none;
    }
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

#hero {
    min-height: 55rem;
    background:  url('./imgs/wallpaper.jpg') rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    text-align: center;

    .nav-bar {
        display: block;
        align-items: center;
        text-align: center;
        overflow: hidden;
        
        a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            font-size: 17px;
        }

        .icon {
            display: none;
        }

        #main-logo {
            max-width: 50%;
        }

        @media screen and (max-width: 800px) {
            a {
                display: none;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 10px;
                    text-decoration-color: green;
                    text-decoration-thickness: 2px;
                }
            }

            .icon {
                float: right;
                display: block;
            }
        }
        
        @media screen and (max-width: 800px) {
            &.responsive {
                position: relative;
                background-color: #3a3d3d;
                width: fit-content;
                float: right;
                
                a {
                    float: none;
                    display: block;
                    text-align: right;
                }
            }
            
            .icon {
                position: relative;
                right: 0;
                top: 0;
            }
        }
        
        @media screen and (min-width: 801px) {
            a {
                display: block;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 10px;
                    text-decoration-color: green;
                    text-decoration-thickness: 2px;
                }
            }

            .icon {
                float: right;
                display: block;
            }
        }
    }

    @media screen and (max-width: 800px) {
        #main-logo {
            position: relative;
            width: 50%;
            margin-top: 5em;
        }
    }
}

.page-1 {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;

    img {
        display: block;
        margin-top: 50px;
        width: 30%;
    }

    p {
        max-width: 500px;
        font-size: 20px;
        color: antiquewhite;
    }

    // div {
    //     display: grid;
    //     grid-template-columns: 2fr 1fr 1fr 1fr;
    // }

    button {
        padding: 10px 40px;
        border-radius: 20px;
        color: white;
        font-size: 20px;
        background-color: rgb(36, 189, 44);
        border: none;
    }
}


#about {
    background: url('./imgs/wall-black.jpg') rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: multiply;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 5em 5em;

    @media only screen {
        grid-template-columns: 1fr;
        padding: 5em 1em;

        p {
            color: rgb(238, 223, 202);
            font-size: 1.2em;
            font-style: italic;
            width: 50%;
        }
    
        img {
            max-width: 80%;
            height: auto;
        }
    }

    @media only screen and (min-width: 600px) {
        img {
            max-width: 20em;
        }
    }

    @media only screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr;

        img {
            max-width: 25em;
        }
    }

    @media only screen and (min-width: 1200px) {
        img {
            max-width: 30em;
        }
    }
}

#menu {
    color: black;
    padding: 50px 100px;
    height: 85rem;
    background-color: rgb(224, 222, 218);

    #sidebar-menu {
        float: left;
        font-size: 30px;
        font-weight: 100;
        color: black;
        padding-left: 200px;

        .active {
            color: rgb(36, 189, 44);
            font-size: 1.4rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                width: 100px;
                height: 30px;
                text-align: left;
                color: rgba(0, 0, 0, 0.6);
                font-size: 1rem;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #products {
        float: right;
        min-height: 75rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px ;
        grid-row-gap: 20px;
        border-left: 2px solid rgb(197, 193, 193);
        padding: 0 5rem;

        .menu-items {
            text-align: center;

            * {
                color: black;
            }

            img {
                box-shadow: 0px 0px 8px 1px gray;
                border-radius: 15px;
                width: 80%;
            }
        }
    }
}

#feedback {
    height: 600px;
    color: black;
    position: relative;

    .comments {
        background-color: rgb(238, 223, 202) ;
        border-radius: 50px;
        position: absolute;
        float: left;
        left: 15%;
        top: 20%;
        padding: 3rem;

        h2, p {
            color: black;
        }

        p {
            font-size: larger;
        }

        img {
            width: 20%;
            border-radius: 50%;
            margin-left: 2rem ;
        }
    }

    .slideshow-container {
        max-width: 1000px;
        position: absolute;
        right: 0;
        /* Hide the images by default */
        .mySlides {
            display: none;
        }
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 3px 3px;
            transition: 0.6s ease;
            border: 0;
            user-select: none;
        }
        /* Position the "next button" to the right */
        .next {
            right: 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.432);
            }
        }
        .prev {
            left: 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.432);
            }
        }
         /* The bars */
        .feedback-bar {
            position: absolute;
            left: 50%;
            top: 95%;
            transform: translateX(-50%);
            .bar {
                cursor: pointer;
                height: 2px;
                width: 30px;
                margin: 0 2px;
                background-color: #ffffff;
                display: inline-block;
                transition: background-color 0.6s ease;

                &:hover {
                    height: 5px;
                    background-color: rgb(36, 189, 44);;
                    transition: 0.6s ease;
                }
            }
        }

        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
    }
}


footer {
    background-color: rgb(32, 32, 32);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;

    * {
        color:rgb(238, 223, 202);
    }

    h2 {
        color:rgb(255, 255, 255);
    }

    .partners {
        text-align: center;

        img {
            width: 15%;
            border-radius: 15px;
            margin-left: 1.5rem;
        }
    }

    .socialnetworks {
        input {
            height: 2.5rem;
        }

        input[type=submit] {
            background-color: rgb(197,118,0);
            border: 0;
            padding: 0 1rem;
            cursor: pointer;

            &:active {
                transform: translateY(1px);
            }
        }

        .sns .fa {
            padding: 0.5rem;
            font-size: 30px;
            width: 2rem;
            text-align: center;
            text-decoration: none;
        }

        .sns {
            margin-top: 1rem;

            * {
                margin-right: 1rem;
            }
        }
    }
}
