@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap");
body {
  min-height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  color: rgb(238, 223, 202);
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

#hero {
  min-height: 55rem;
  background: url("./imgs/wallpaper.jpg") rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  text-align: center;
}
#hero .nav-bar {
  display: block;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
#hero .nav-bar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
#hero .nav-bar .icon {
  display: none;
}
#hero .nav-bar #main-logo {
  max-width: 50%;
}
@media screen and (max-width: 800px) {
  #hero .nav-bar a {
    display: none;
  }
  #hero .nav-bar a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
  }
  #hero .nav-bar .icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  #hero .nav-bar.responsive {
    position: relative;
    background-color: #3a3d3d;
    width: fit-content;
    float: right;
  }
  #hero .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  #hero .nav-bar .icon {
    position: relative;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 801px) {
  #hero .nav-bar a {
    display: block;
  }
  #hero .nav-bar a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
  }
  #hero .nav-bar .icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  #hero #main-logo {
    position: relative;
    width: 50%;
    margin-top: 5em;
  }
}

.page-1 {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.page-1 img {
  display: block;
  margin-top: 50px;
  width: 30%;
}
.page-1 p {
  max-width: 500px;
  font-size: 20px;
  color: antiquewhite;
}
.page-1 button {
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  background-color: rgb(36, 189, 44);
  border: none;
}

#about {
  background: url("./imgs/wall-black.jpg") rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 5em 5em;
}
@media only screen {
  #about {
    grid-template-columns: 1fr;
    padding: 5em 1em;
  }
  #about p {
    color: rgb(238, 223, 202);
    font-size: 1.2em;
    font-style: italic;
    width: 50%;
  }
  #about img {
    max-width: 80%;
    height: auto;
  }
}
@media only screen and (min-width: 600px) {
  #about img {
    max-width: 20em;
  }
}
@media only screen and (min-width: 1000px) {
  #about {
    grid-template-columns: 1fr 1fr;
  }
  #about img {
    max-width: 25em;
  }
}
@media only screen and (min-width: 1200px) {
  #about img {
    max-width: 30em;
  }
}

#menu {
  color: black;
  padding: 50px 100px;
  height: 85rem;
  background-color: rgb(224, 222, 218);
}
#menu #sidebar-menu {
  float: left;
  font-size: 30px;
  font-weight: 100;
  color: black;
  padding-left: 200px;
}
#menu #sidebar-menu .active {
  color: rgb(36, 189, 44);
  font-size: 1.4rem;
}
#menu #sidebar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu #sidebar-menu ul a {
  width: 100px;
  height: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
#menu #sidebar-menu ul a:hover {
  cursor: pointer;
}
#menu #products {
  float: right;
  min-height: 75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-row-gap: 20px;
  border-left: 2px solid rgb(197, 193, 193);
  padding: 0 5rem;
}
#menu #products .menu-items {
  text-align: center;
}
#menu #products .menu-items * {
  color: black;
}
#menu #products .menu-items img {
  box-shadow: 0px 0px 8px 1px gray;
  border-radius: 15px;
  width: 80%;
}

#feedback {
  height: 600px;
  color: black;
  position: relative;
}
#feedback .comments {
  background-color: rgb(238, 223, 202);
  border-radius: 50px;
  position: absolute;
  float: left;
  left: 15%;
  top: 20%;
  padding: 3rem;
}
#feedback .comments h2, #feedback .comments p {
  color: black;
}
#feedback .comments p {
  font-size: larger;
}
#feedback .comments img {
  width: 20%;
  border-radius: 50%;
  margin-left: 2rem;
}
#feedback .slideshow-container {
  max-width: 1000px;
  position: absolute;
  right: 0;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* The bars */
}
#feedback .slideshow-container .mySlides {
  display: none;
}
#feedback .slideshow-container .prev, #feedback .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px 3px;
  transition: 0.6s ease;
  border: 0;
  user-select: none;
}
#feedback .slideshow-container .next {
  right: 0;
}
#feedback .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.432);
}
#feedback .slideshow-container .prev {
  left: 0;
}
#feedback .slideshow-container .prev:hover {
  background-color: rgba(0, 0, 0, 0.432);
}
#feedback .slideshow-container .feedback-bar {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
}
#feedback .slideshow-container .feedback-bar .bar {
  cursor: pointer;
  height: 2px;
  width: 30px;
  margin: 0 2px;
  background-color: #ffffff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#feedback .slideshow-container .feedback-bar .bar:hover {
  height: 5px;
  background-color: rgb(36, 189, 44);
  transition: 0.6s ease;
}
#feedback .slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
}
footer * {
  color: rgb(238, 223, 202);
}
footer h2 {
  color: rgb(255, 255, 255);
}
footer .partners {
  text-align: center;
}
footer .partners img {
  width: 15%;
  border-radius: 15px;
  margin-left: 1.5rem;
}
footer .socialnetworks input {
  height: 2.5rem;
}
footer .socialnetworks input[type=submit] {
  background-color: rgb(197, 118, 0);
  border: 0;
  padding: 0 1rem;
  cursor: pointer;
}
footer .socialnetworks input[type=submit]:active {
  transform: translateY(1px);
}
footer .socialnetworks .sns .fa {
  padding: 0.5rem;
  font-size: 30px;
  width: 2rem;
  text-align: center;
  text-decoration: none;
}
footer .socialnetworks .sns {
  margin-top: 1rem;
}
footer .socialnetworks .sns * {
  margin-right: 1rem;
}

/*# sourceMappingURL=global.css.map */
